.form-group
    label.col-form-label
        | Oud wachtwoord
        abbr.required(title="Verplicht veld") *

    if filled && error
        input.c-input(type="password")
    else
        input.c-input(type="password" value="yale-frey-deny")

    if error
        small.text-danger Vul a.u.b. een wachtwoord in.
