.o-form-group
    label.o-form-group__label
        | Wachtwoord
        abbr.required(title="Verplicht veld") *
    .o-form-group__controls
        if filled && error
            input.c-input(type="password")
            .c-form-help-text.c-form-help-text--error Dit is geen geldig wachtwoord.
        else
            input.c-input(type="password" value="yale-frey-deny")
