.form-group
    label.col-form-label
        | Gebruikersnaam
        abbr.required(title="Verplicht veld") *
    input.c-input(type="text" value=filled?'Sandansa9':'')
    small.form-text.text-muted Kies een gebruikersnaam. Deze naam zal worden weergegeven in de chat.
