.u-spacer-top-l
    .o-container--small
        h2.c-h2 Anim ea sit enim anim exercitation.
        .c-image--full
            img(src="http://placehold.it/500x200")
        .u-spacer-top
            p Exercitation ea consequat et labore ut occaecat velit non. Qui incididunt et occaecat fugiat adipisicing ex ullamco sit veniam aliquip proident. Irure qui laborum incididunt ut tempor culpa nostrud. Eiusmod pariatur excepteur enim cupidatat enim consectetur sint voluptate exercitation aliquip laborum aute sit.
