section.o-container-vertical
    .o-container
        .o-grid
            .o-grid-col-bp2-4
                .c-image
                    img(src="http://placehold.it/1280x720")
            .o-grid-col-bp2-8
                .c-content
                    h2 Tussentitel
                    p Officia esse labore reprehenderit do et nostrud veniam est id. Ipsum ad cupidatat ipsum mollit veniam ad pariatur dolore irure dolore elit nisi. Dolore id id eu magna.
                    .u-spacer-top
                        a.c-button.c-button--default
                            .c-button__content
                                .c-button__label Button label