.o-container
    .u-spacer
        .o-grid
            .o-grid-col-6
                .c-video-wrapper
                    iframe(src='https://player.vimeo.com/video/113716040?color=ffffff&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

            .o-grid-col-6
                .c-content
                    h2 Tussentitel
                    p Officia esse labore reprehenderit do et nostrud veniam est id. Ipsum ad cupidatat ipsum mollit veniam ad pariatur dolore irure dolore elit nisi. Dolore id id eu magna.
                    .u-spacer-top
                        a.c-button.c-button--default
                            .c-button__content
                                .c-button__label Button label