.o-container-vertical.o-container-vertical-page-intro
    .o-container
        h1.o-container-vertical-title__title Page title
        p.o-container-vertical-intro__intro Cupidatat non mollit minim esse amet.