.o-container-vertical
    .o-container
        .c-quote
            blockquote.c-quote__text Sunt quis dolore est est. Fugiat esse aute et est sit et. Ad commodo aliquip enim pariatur velit est incididunt deserunt deserunt aliquip non occaecat est. Deserunt aliquip deserunt anim do do sunt consectetur officia deserunt.
            cite.c-quote__author
                img.c-quote__avatar(src='http://placehold.it/50x50')
                span Lawrence Hicks, Founder