.o-container-vertical.o-container-vertical-rich-text
    .o-container.o-container--small
        .c-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            ul
                li Quis nostrud exercitation ullamco laboris
                li Cupidatat non proident, sunt in culpa qui
                li Officia deserunt mollit anim id est laborum
