.o-container-vertical.o-container-vertical-anchor-links
    .o-container
        .o-flex.o-flex--horizontal-center
            ul.c-bordered-list-horizontal
                li: a(href="#") Item
                li: a(href="#") Long item
                li: a(href="#") A very long item
                li: a(href="#") Item
