extends /templates/_layouts/default

block content
    section.o-container-vertical.o-container-vertical--padding-large
        .c-content.u-text-center
            .u-spacer-bottom
                img(src="http://placehold.it/235x235")
            h2 Pagina niet gevonden.
            p Helaas, de pagina die je wil bezoeken kon niet gevonden worden.
