extends /templates/_layouts/default

block append pageVariables
    - var pageTitle = "Home"
    - var htmlClass = "u-maximize-height"
    - var bodyClass = "u-maximize-height"

block content

    .o-flex.u-maximize-height.o-flex--center
        p Welcome to the Jungle. Add your content here.