/* ==========================================================================
  Component: c-brand
   ========================================================================== */

.c-brand {
  margin-right: 1.2rem;
  a {
    display: block;
    width: 14.3rem;
    height: 2.9rem;
    position: relative;
    bottom: 0.3rem;
  }
}
