/* ==========================================================================
  c-content-card-horizontal
   ========================================================================== */

.c-content-card-horizontal {
  display: flex;
  margin-bottom: 1.6rem;
  a {
    color: $color-gray-700;
  }
}

.c-content-card-horizontal__image {
  flex: 1;
  margin: 0.4rem 0;
  img {
    width: 100%;
    display: block;
    border-radius: 0.3rem;
  }
}

.c-content-card-horizontal__content {
  flex: 2;
  margin-left: 1.6rem;
  h3 {
    color: $color-gray-800;
    font-weight: $g-headings-font-weight;
  }
}

.c-content-card-horizontal--video .c-content-card-horizontal__title:hover a{
  color: $color-brand-orange;
}

.c-content-card-horizontal--audio .c-content-card-horizontal__title:hover a{
  color: $color-sky-blue;
}

.c-content-card-horizontal--collection .c-content-card-horizontal__title:hover a{
  color: $color-ocean-green;
}

