/* ==========================================================================
  Component: c-document-preview
   ========================================================================== */

.c-document-preview {
  padding: 2.4rem;
  background-color: $color-gray-100;
  border: 0.1rem solid $color-gray-300;
  border-radius: 0.5rem;
}

.c-document-preview__cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2.4rem;
}

.c-document-preview__image {

  display: flex;
  align-items: center;
  justify-content: center;

  img  {
    max-width: 100%;
    height: auto;
  }
}

