/* ==========================================================================
  c-media-card
   ========================================================================== */

.c-media-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  max-width: 50rem;
  margin-bottom: 1rem;
}

.c-media-card__image {
  img {
    width: 100%;
    border-radius: 0.3rem;
  }
}

.c-media-card__title {
  display: flex;
  color: $color-midnight-blue;
  padding: 1rem 0;

  .o-svg-icon {
    margin-right: .8rem;
  }

  a {
    font-size: 1.7rem;
    color: $color-gray-800;
    font-weight: $g-headings-font-weight;
  }
}

.c-media-card:hover .c-media-card__title a {
  color: $color-sky-blue;
}

.c-media-card--collection:hover .c-media-card__title a {
  color: $color-ocean-green;
}

.c-media-card--collection .c-media-card__title .o-svg-icon {
  color: $color-ocean-green;
}

.c-media-card--video:hover .c-media-card__title a {
  color: $color-brand-orange;
}

.c-media-card--video .c-media-card__title .o-svg-icon {
  color: $color-brand-orange;
}

.c-media-card--audio:hover .c-media-card__title a {
  color: $color-sky-blue;
}

.c-media-card--audio .c-media-card__title .o-svg-icon {
  color: $color-sky-blue;
}
