---
title: Introduction
category: Basics
order: 1
---

.u-spacer-bottom-l
    .c-content
        h2 Introduction
        p Welcome to the Jungle Design System.
        p <strong>What is a design system?</strong> A design system is a set of shared and integrated patterns and principles that define the overall design of a product.
        p <strong>Why do we need a design system?</strong> To document a design language that can be used as a guideline when creating new screens and apps. We strive for efficiency through well-defined, reusable and cross-platform components.


.u-spacer-top-l.u-spacer-bottom-l
    h2.c-h2 In this guide

    .u-spacer-bottom-l
        .c-card
            .c-card__body
                .c-content
                    h3 Basics
                    p Get to know the basic foundations of the different style elements used.
                .u-spacer-top
                    a.c-button.c-button--default(href="/styleguide/docs/colors.html") Colors
                    a.c-button.c-button--default(href="/styleguide/docs/typography.html") Typography
                    a.c-button.c-button--default(href="/styleguide/docs/icons.html") Icons
    .c-card
        .c-card__body
            .c-content
                h3 Design patterns
                p Descriptions of various design behavior throughout the design system.
            .u-spacer-top
                a.c-button.c-button--default(href="/styleguide/docs/forms.html") Forms
                a.c-button.c-button--default(href="/styleguide/docs/messaging.html") Messaging
                a.c-button.c-button--default(href="/styleguide/docs/buttons.html") Buttons
