---
title: Introduction
category: Basics
order: 1
---

.u-spacer-bottom-l
    .c-content
        h2 Welcome to the Jungle Design System.
        p The Jungle design system is a BEM/ITSCSS framework and is a set of shared and integrated patterns and principles that define the overall design of a product.
        p It exists out of well-defined, reusable and cross-platform components.

        h3 Getting started
        p There are several ways to install Jungle and you can access all of the files directly on Github.
        a.c-button.c-button--link(href="")
            .c-button__label View on Github
            +icon('arrows/arrow-right')

        .u-spacer-top-l
            h4 Git clone
            pre
                code git clone https://github.com/mono-company/jungle.git

            h4 CDN
            pre
                code https//jungle.mono.company/jungledesignsystem.css

            h4 NPM
            pre
                code npm install jungle --save

