extends /templates/_layouts/master

block append pageVariables
    - var htmlClass = 't-mq-debug'

block body

    .br-styleguide
        #component-01-o-grid
        
            .c-h2 Grid - normal

            .o-grid
                .o-grid-col-6 6
                .o-grid-col-6 6
            .o-grid
                .o-grid-col-8 8
                .o-grid-col-4 4
            .o-grid
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
                .o-grid-col-1 1
            .o-grid
                .o-grid-col-4 4
                .o-grid-col-4 4
                .o-grid-col-4 4
            .o-grid
                .o-grid-col-3 3
                .o-grid-col-3 3
                .o-grid-col-3 3

            .c-h2 Grid - only expand from bp1
            .o-grid
                .o-grid-col-bp1-6 6
                .o-grid-col-bp1-6 6
            .o-grid
                .o-grid-col-bp1-8 8
                .o-grid-col-bp1-4 4
            .o-grid
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
                .o-grid-col-bp1-1 1
            .o-grid
                .o-grid-col-bp1-4 4
                .o-grid-col-bp1-4 4
                .o-grid-col-bp1-4 4
            .o-grid
                .o-grid-col-bp1-3 3
                .o-grid-col-bp1-3 3
                .o-grid-col-bp1-3 3

            .c-h2 Grid - only expand from bp2
            .o-grid
                .o-grid-col-bp2-6 6
                .o-grid-col-bp2-6 6
            .o-grid
                .o-grid-col-bp2-8 8
                .o-grid-col-bp2-4 4
            .o-grid
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
                .o-grid-col-bp2-1 1
            .o-grid
                .o-grid-col-bp2-4 4
                .o-grid-col-bp2-4 4
                .o-grid-col-bp2-4 4
            .o-grid
                .o-grid-col-bp2-3 3
                .o-grid-col-bp2-3 3
                .o-grid-col-bp2-3 3

            .c-h2 Grid - only expand from bp3
            .o-grid
                .o-grid-col-bp3-6 6
                .o-grid-col-bp3-6 6
            .o-grid
                .o-grid-col-bp3-8 8
                .o-grid-col-bp3-4 4
            .o-grid
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
                .o-grid-col-bp3-1 1
            .o-grid
                .o-grid-col-bp3-4 4
                .o-grid-col-bp3-4 4
                .o-grid-col-bp3-4 4
            .o-grid
                .o-grid-col-bp3-3 3
                .o-grid-col-bp3-3 3
                .o-grid-col-bp3-3 3
