footer.c-footer
    .c-navbar
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item Version 1.0.0
                .c-toolbar__item MIT Licensed
                .c-nav-footer
                    a(href='') Contribute
            .c-toolbar__right
                a(href='https://mono.company')
                    img(src='../../../images/mono.svg', alt='Mono logo')